@model ApproveBusinessFormModel
@{
    ViewData["Title"] = Model.Name;
}
<h2>@ViewData["Title"]</h2>
<h4><em>published by @Model.Author on @Model.PublishDate.ToShortDateString()</em></h4>
<div class="row text-center">
    <li class="list-group-item">
        <img src="@Model.PicUrl" alt="Sample Image" width="300px"/>
        <br/>
        <p>
            <h3>
                @Html.DisplayFor(model => model.Type)
            </h3>
            @Model.City
            <h3>
                @Html.DisplayFor(model => model.PetType)
            </h3>
            @Model.LatLocation
            <br />
            @Model.LngLocation
            <br />
            @Model.Note
            <br />
            <a href="@Model.WebPageUrl">@Model.WebPageUrl</a>
        </p>
        <form method="post">
            <div class="form-group">
                <label asp-for="IsApproved"></label>
                @Html.RadioButtonFor(m => m.IsApproved, true) Yes
                @Html.RadioButtonFor(m => m.IsApproved, false) No
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <small>published by @Model.Author on @Model.PublishDate.ToShortDateString()</small>
    </li>
</div>