@using PawGuide.Web
@model ArticleDetailsServiceModel
@{
    ViewData["Title"] = Model.Title;
}
<h2>@ViewData["Title"]</h2>
<h4><em>published by @Model.Author on @Model.PublishDate.ToShortDateString()</em></h4>
<div>
    <img src="@Model.PicUrl" alt="Sample Image" width="300px" />
    @Html.Raw(Model.Content)
    @if (User.IsInRole(WebConstants.ModeratorRole) || User.IsInRole(WebConstants.AdministratorRole))
    {
        <a class="btn btn-sm btn-primary" asp-area="Publications" asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id" asp-route-title="@Model.Title.ToFriendlyUrl()">Edit</a>
    }
</div>
