@model AdListingViewModel
@{
    ViewData["Title"] = "Ads";
}
@await Html.PartialAsync("_HeadingPartial")

<div id="content">
    <div class="container">
        <div class="row">
            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

            <div class="col-md-9" id="blog-listing-medium">
                @foreach (var ad in Model.Ads)
                {

                    if (ad.IsApproved == true || ad.Author == User.Identity.Name)
                    {
                        <section class="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="image">
                                        <a asp-action="Details" asp-route-id="@ad.Id" asp-route-title="@ad.Title.ToFriendlyUrl()">
                                            <img src="@ad.PicUrl" class="img-responsive" alt="@ad.Title">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h2>
                                        <a asp-action="Details" asp-route-id="@ad.Id" asp-route-title="@ad.Title.ToFriendlyUrl()">
                                            @ad.Title
                                        </a>
                                    </h2>
                                    <div class="clearfix">
                                        <p class="author-category">
                                            By @ad.Author
                                        </p>
                                        <p class="date-comments">
                                            <a href="blog-post.html"><i class="fa fa-calendar-o"></i>@ad.PublishDate.ToShortDateString()</a>
                                            <a href="blog-post.html"><i class="fa fa-comment-o"></i> 8 Comments</a>
                                        </p>
                                    </div>
                                    <p class="intro">
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                                        Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
                                        @if (ad.IsApproved == false)
                                        {
                                            <img src="https://barmakapproved.files.wordpress.com/2012/07/notapproved.png" />
                                        }
                                    </p>
                                    <p class="read-more">
                                        <a asp-action="Details" asp-route-id="@ad.Id" asp-route-title="@ad.Title.ToFriendlyUrl()" class="btn btn-template-main">Continue reading</a>
                                    </p>
                                </div>
                            </div>
                        </section>
                    }
                }

                @if (Model.TotalPublications > Model.Ads.Count())
                {
                    <ul class="pager">
                        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
                            <a asp-route-page="@Model.PreviousPage" aria-label="Previous">
                                <span aria-hidden="true">
                                    &larr; Older
                                </span>
                            </a>
                        </li>
                        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
                            <a asp-route-page="@Model.NextPage" aria-label="Next">
                                <span aria-hidden="true">
                                    Newer &rarr;
                                </span>
                            </a>
                        </li>
                    </ul>
                }
            </div>

            <!-- *** LEFT COLUMN END *** -->
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-md-6">
            <ul class="list-group article-list">
                @foreach (var ad in Model.Ads)
                {
                    if (ad.IsApproved == true || ad.Author == User.Identity.Name)
                    {
                        <li class="list-group-item">
                            <img src="@ad.PicUrl" alt="Sample Image" width="300px" />
                            <a asp-action="Details" asp-route-id="@ad.Id" asp-route-title="@ad.Title.ToFriendlyUrl()">@ad.Title</a>
                            <br />
                            <small>published by @ad.Author on @ad.PublishDate.ToShortDateString()</small>
                            @if (ad.IsApproved == false)
                            {
                                <img src="https://barmakapproved.files.wordpress.com/2012/07/notapproved.png" />
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    </div>*@