@model AdListingViewModel
@{
    ViewData["Title"] = "Ads";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group article-list">
            @foreach (var ad in Model.Ads)
            {
                if (ad.IsApproved == true || ad.Author == User.Identity.Name)
                {
                    <li class="list-group-item">
                        <img src="@ad.PicUrl" alt="Sample Image" width="300px"/>
                        <a asp-action="Details" asp-route-id="@ad.Id" asp-route-title="@ad.Title.ToFriendlyUrl()">@ad.Title</a>
                        <br/>
                        <small>published by @ad.Author on @ad.PublishDate.ToShortDateString()</small>
                        @if (ad.IsApproved == false)
                        {
                            <img src="https://barmakapproved.files.wordpress.com/2012/07/notapproved.png"/>
                        }
                    </li>
                }
            }
        </ul>
    </div>
</div>
@if (Model.TotalAds > Model.Ads.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.PreviousPage"
               aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.NextPage"
               aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}