@model BusinessDetailsServiceModel
@{
    ViewData["Title"] = Model.Name;
}
<h2>@ViewData["Title"]</h2>
<h4><em>published by @Model.Author on @Model.PublishDate.ToShortDateString()</em></h4>
<div class="row text-center">
    <li class="list-group-item">
        <img src="@Model.PicUrl" alt="Sample Image" width="300px"/>
        <br/>
        <p>
            <h3>
                @Html.DisplayFor(model => model.Type)
            </h3>
            @Model.City
            <h3>
                @Html.DisplayFor(model => model.PetType)
            </h3>
            @Model.LatLocation
            <br />
            @Model.LngLocation
            <br />
            @Model.Note
            <br />
            <a href="@Model.WebPageUrl">@Model.WebPageUrl</a>
        </p>
        @if (User.Identity.IsAuthenticated && User.Identity.Name.Equals(Model.Author))
        {
            <a class="btn btn-sm btn-primary" asp-area="Business" asp-controller="Businesses" asp-action="Edit" asp-route-id="@Model.Id" asp-route-title="@Model.Name.ToFriendlyUrl()">Edit</a>
        }
        <small>published by @Model.Author on @Model.PublishDate.ToShortDateString()</small>
    </li>
</div>